<h2>Welcome to Word Frequency!</h2>
<h4>Find the frequency of a word in a sentence.</h4>
<form action='/results'>
  <div class='form-group'>
    <label for='word'>Word:</label>
    <input id='word' name='word' class='form-control' type='text' placeholder='e.g. bird'>
    <label for='sentence'>Sentence:</label>
    <input id='sentence' name='sentence' class='form-control' type='text' placeholder='e.g. A bird flew by another bird.'>
  </div>
  <button type='submit' class='btn btn-success'>Calculate Frequency</button>
</form>
